//////////////////////////////////////////////////////////////////
// LOGO
.logo {

    &-cont {
        padding-left: 6.5rem;
        padding-right: 6.5rem;
    }
    display: inline-block;
    height: 3rem;
    margin-top: 3rem;
}

///////////////////////transitions
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}


////////////////////////////////////date-panel
.date-panel {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;

    * {
        margin-right: 1rem;
    }

    &__month {
        font-weight: 400;
        font-size: 1.8rem;
    } 

    &__icon {
        height: 1rem;
        cursor: pointer;
        padding: .5rem;
        box-sizing: content-box;

        &:first-child {
            margin-right: .5rem; 
        }
    }

    &__day {
        font-size: 1.4rem;
        color: var(--color-primary);
        padding: .7rem 2rem;
        border-radius: .5rem;
        border: 1px solid var(--color-primary);

    }
}


/////////////////////////////////////////// calender list view
.calender-list {
    margin-top: 3rem;


    &__item {
        padding: 1rem;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__date {
        flex: 0 0 15%;
    }

    &__text {
        flex: 0 0 45%;
        padding-right: 1rem;
        cursor: pointer; 
    }

    &__type {
        flex: 0 0 20%;
    }

    &__delete {
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
        flex: 0 0 auto;
        filter: var(--filter--primary-2);
    }
}

////////////////////////////////////////////////CALENDER
.calender {
    display: grid;
    grid-template-columns: repeat(7, minmax(14.3%, max-content));
    grid-gap: 2px;
    margin-top: 2rem;
    grid-template-rows: 5rem repeat(5, minmax(12.5rem, max-content));
    margin-bottom: 20rem; 

    // @media only screen and (max-width:$bp-small) {
    //     grid-template-rows: 4rem repeat(5, 10rem);
    // }

    &__item {
        border: 1px solid var(--color-grey);
        border-radius: 2px;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        
        &-date {
            @include center;
        }

        &-1 {
            @include center;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        &-2 {
            @include center;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        &-3 {
            @include center;
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }

        &-4 {
            @include center;
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }

        &-5 {
            @include center;
            grid-column: 5 / 6;
            grid-row: 2 / 3;
        }

        &-6 {
            @include center;
            grid-column: 6 / 7;
            grid-row: 2 / 3;
        }

        &-7 {
            @include center; 
            grid-column: 7 /  7;
            grid-row: 2 / 3;
        }

        &-8 {
            @include center; 
            grid-column: 1 / 2;
            grid-row: 3 / 4;

        }

        &-9 {
            @include center; 
            grid-column: 2 / 3;
            grid-row: 3 / 4;

        }

        &-10 {
            @include center;
            grid-column: 3 / 4;
            grid-row: 3 / 4;

        }

        &-11 {
            @include center;
            grid-column: 4 / 5;
            grid-row: 3 / 4;

        }

        &-12 {
            @include center;  
            grid-column: 5 / 6;
            grid-row: 3 / 4;
 
        }

        &-13 {
            @include center;
            grid-column: 6 / 7;
            grid-row: 3 / 4;

        }

        &-14 {
            @include center;
            grid-column: 7 /  7;
            grid-row: 3 / 4;

        }

        &-15 {
            @include center;
            grid-column: 1 / 2;
            grid-row: 4 / 5;

        }

        &-16 {
            @include center;
            grid-column: 2 / 3;
            grid-row: 4 / 5;

        }

        &-17 {
            @include center;
            grid-column: 3 / 4;
            grid-row: 4 / 5;

        }

        &-18 {
            @include center;
            grid-column: 4 / 5;
            grid-row: 4 / 5;

        }

        &-19 {
            @include center;
            grid-column: 5 / 6;
            grid-row: 4 / 5;

        }

        &-20 {
            @include center;
            grid-column: 6 / 7;
            grid-row: 4 / 5;

        }

        &-21 {
            @include center;
            grid-column: 7 /  7;
            grid-row: 4 / 5;

        }

        &-22 {
            @include center;
            grid-column: 1 /  2;
            grid-row: 5 / 6;

        }

        &-23 {
            @include center;
            grid-column: 2 / 3;
            grid-row: 5 / 6;


        }

        &-24 {
            @include center;
            grid-column: 3 / 4;
            grid-row: 5 / 6;


        }

        &-25 {
            @include center;
            grid-column: 4 / 5;
            grid-row: 5 / 6;


        }

        &-26 {
            @include center;
            grid-column: 5 / 6;
            grid-row: 5 / 6;


        }

        &-27 {
            @include center;
            grid-column: 6 / 7;
            grid-row: 5 / 6;


        }

        &-28 {
            @include center;
            grid-column: 7 / 7;
            grid-row: 5 / 6;


        }

        &-29 {
            @include center;
            grid-column: 1 / 2;
            grid-row:  6 / 7;


        }
        &-30 {
            @include center;
            grid-column: 2 / 3;
            grid-row:  6 / 7;


        }

        &-31 {
            @include center;
            grid-column: 3 / 4;
            grid-row:  6 / 7;


        }

        &-32 {
            @include center;
            grid-column: 4 / 5;
            grid-row:  6 / 7;


        }

        &-33 {
            @include center;
            grid-column: 5 / 6;
            grid-row:  6 / 7;


        }

        &-34 {
            @include center;
            grid-column: 6 / 7;
            grid-row:  6 / 7;


        }

        &-35 {
            @include center;
            grid-column: 7 / 7;
            grid-row:  6 / 7;
        }
    }

    &__item-occupied {
        text-align: center;
        background-color: var(--color-primary-3);
        padding: 1rem;
        display: block;
    }

    &-content {
        padding: 1rem;
        background-color: var(--color-primary);
        // text-align: left;
        color: #ffffff;
    }

    &-span__3{
        grid-column: 4 / span 3;
    }

    &-span__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }
}

/////////////////////////////////////////////HEADING
.heading-primary {
    font-size: 2.4rem;
    font-weight: 500;
    font-family: 'Lora', serif;
    margin-bottom: 2rem;
    color: var(--color-tetiary);
}


/////////////////////////////////////////PANEL
.panel {
    display: flex;
    justify-content: space-between;
    color: var(--color-primary);
    font-size: 1.4rem;

    > div {
        display: flex;
        align-items: center;
    }

    &-view {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    @media only screen and (max-width:$bp-small) {
        display: block;
    }

    &__icon {
        height: 1.6rem;
        margin-right: .5rem;
        filter: var(--filter--primary-2);
    }

    &__link {
        margin-right: 2rem;
        color: var(--color-primary-2);
    }

    &__input-cont {
        @media only screen and (max-width:$bp-small) {
           align-items: flex-end !important;
        }
    }

    &__input {
        background-color: #FFFEFC;
        border: 1px solid #D4D4D4;
        border-radius: 5px;
        width: 35rem;
        padding: 1.2rem 1rem;
        display: inline-block; 
        font-size: 1.4rem;

        
        
        @media only screen and (max-width:$bp-small) {
            margin-top: 1rem;
            width: 30rem;
        }
    }

    &__button {
        padding: 1.3rem 1.9rem;
        color: #ffffff;
        background-color: var(--color-primary);
        border: none;
        border-radius: 5px;
        margin-left: 2rem;
        cursor: pointer;
        font-size: 1.4rem;


    }
}

/////////////////////////////////////////////////////////////////@at-root//
// SEARCH
.search {
    // background-color: orangered;
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width:$bp-smallest) {
        order: 1; // 1rem == s8px
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 200px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px)
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}




////////////////////////////////////////////////////////////////////////@at-root
// USER NAVIGATION

.user-nav {
    height: 10rem;
    position: relative;
    background-color: var(--color-secondary-light);
    box-shadow: 0 1px 4px rgba( #CCCCCC, .5);
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--color-dark-grey);

    @media only screen and (max-width:$bp-smallest) {
        font-size: 1.2rem;
    }

    div.cont > div {
        position: absolute;
        display: flex;
        align-items: center;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__link {
        display: inline-block;
        margin-right: 3rem;
        cursor: pointer;
        transition: all 1s;

        @media only screen and (max-width:$bp-smallest) {
            display: none; // 1rem == s8px
        }

        @media only screen and (max-width:$bp-small) {
            margin-right: 1.5rem; 
        }

        &:hover {
            color: var(--color-primary);
        }
    }

    &__icon {
        height: 1.8rem;
        margin-right: 2rem;
        cursor: pointer;
        transition: all 1s;

        &:hover {
            filter: var(--filter-secondary);
        }
    }

    &__avatar {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        margin-right: .7rem;
    }
}

////////////////////////////////////////////////////////////////////////@at-root
// SIDE NAVIGATION

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 4rem;


    &__item {
        position: relative;
        padding: 3rem 0 3rem 6.5rem;
        display: flex;
        cursor: pointer;
        background: linear-gradient(to left, var(--color-tetiary) 50%, var(--color-tetiary-light) 50%);
        background-size: 200% 100%;
        background-position:right bottom;
        transition: background-position .4s cubic-bezier(1,0,0,1) .2s;

    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1rem;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s, 
                    width .4s cubic-bezier(1,0,0,1) .2s, 
                    background-color .1s;
    }

    &__item:hover,
    &__item--active {
        background-position:left bottom;
        color: var(--color-primary);
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
    }

    &__item:active::before {
        background-color: var(--color-primary);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        z-index: 10;
        position: relative;

        @media only screen and (max-width:$bp-medium) {
            justify-content: center;
            padding: 2rem;
        }

        @media only screen and (max-width:$bp-small) {
            flex-direction: column;
            padding: 1.5rem .5rem;
        }
    }

    &__item:hover &__icon,
    &__item--active &__icon {
        filter: var(--filter-secondary);
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
        filter: var(--filter-primary);
        display: inline-block;

        @media only screen and (max-width:$bp-small) {
            margin: 0;
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}

.copyright {
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 4rem;
    font-size: 1.2rem;
}

////////////////////////////////////////////////////////////// modal
.modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    

    &-backdrop {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: rgba($color: #000000, $alpha: .5);
        // z-index: 5;
    }

    &-content {
        padding: 6rem;
        background-color: var(--color-secondary-light);
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 10rem;
        transform: translateX(-50%);
        width: 60rem;
        border-radius: 5px;

        @media only screen and (max-width:$bp-smallest) {
            width: 30rem;
            padding: 2rem;
        }
    }

    &-textInput {
        width: 100%;
        display: inline-block;
        background-color: #FFFEFC;
        border: 1px solid #D4D4D4;
        border-radius: 5px;
        padding: 1.2rem 1rem;
        font-size: 1.4rem;
        font-style: inherit;
        margin-bottom: 2rem;
    }

    &-dateInput {
        display: flex;
        justify-content: space-between;
        margin-bottom: .5rem;

        &__start{
            width: 47%;
            background-color: #FFFEFC;
            border: 1px solid #D4D4D4;
            border-radius: 5px;
            padding: 1.2rem 1rem;
            font-size: 1.4rem;
        }
    }

    &-btn {
        &__cont {
            text-align: center;
        }

       &__one{
            width: 15rem;
            padding: 1rem 0;
            font-size: 1.4rem;
            color: var(--color-primary);
            border: 1px solid var(--color-primary);
            border-radius: .5rem;
            margin-right: 1rem;
            display: inline-block;
            cursor: pointer;
            @media only screen and (max-width:$bp-smallest) {
                margin-right: 0;
                margin-bottom: 1rem;
            }
       }

       &__two {
            width: 15rem;
            padding: 1rem 0;
            font-size: 1.4rem;
            color: #fff;
            background-color: var(--color-primary);
            border-radius: .5rem;
            margin-right: .5rem;
            @media only screen and (max-width:$bp-smallest) {
                display: block;
                margin: 0 auto;
            }
       }

    }
}

.done-modal {
    text-align: center;
    font-size: 1.4rem;

    &__icon {
        height: 4rem;
        margin-bottom: 2rem;
    }

    &__button {
        color: #FFFFFF;
        background-color: var(--color-primary);
        width: 15rem;
        padding: 1rem 0;
        border-radius: .5rem;
    }

}

.delete-modal {

    &__text {
        padding: 0 10rem;
        text-align: center;
        font-size: 1.4rem;
        @media only screen and (max-width:$bp-smallest) {
            padding: 0 4rem;
        }
    }
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 3rem;
    cursor: pointer;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 2rem;
    width: 2rem;
    background-color: #FFFEFC;
    border: 1px solid #D4D4D4; 
    border-radius: .3rem;

  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: .7rem;
    top: .5rem;
    width: .5rem;
    height: .7rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .event {
      &-card {
          padding: 3rem 3rem 3.4rem 3rem;
          background-color: #FFFFFF;
      }

      &-date {
        font-weight: 500;
        font-size: 1.8rem;
        display: inline-block;
      }

      &-text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        font-weight: 400;
      }

      &-type {
          display: inline-block;
          padding: .5rem;
          color: #FFFFFF;
          background-color: var(--color-tetiary);
          border: 1px solid #979797;
          border-radius: 2px;
      }

      &-back {
        display: flex;
        align-items: center;
        color: var(--color-primary);
        font-size: 1.4rem;
        cursor: pointer;
        text-transform: capitalize;
        margin-bottom: 2rem;

        &__img {
        display: inline-block;
        height: 1.6rem;
        margin-right: .6rem;
        transition: transform .5s ease-out;
        }

        &:hover &__img {
            transform: translateX(-1rem);
        }

      }

      &-edit {
          display: inline-block;
          font-size: 1.4rem;
          cursor: pointer;
          &__icon {
              height: 1.5rem;
              display: inline-block;
              margin-right: .5rem;
          }

          &__text {
            margin-right: 1rem;
          }
      }

  }

  
  ///////////////////////////////////over writing defaul calender styles

  .v-calendar-weekly__head-weekday {
      padding: 1.5rem;
      border-bottom: 1px solid #e0e0e0;
  }

  .v-btn__content {
      color: var(--color-tetiary-light) ;
  }